{"openapi":"3.0.1","info":{"title":"Keap REST API","description":"Keap REST Core Service","termsOfService":"https://keap.com/legal","contact":{"name":"Keap","url":"https://developer.keap.com/get-support/","email":"api@keap.com"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"2.70.0.872719-hf-202511041049"},"servers":[{"url":"https://api.infusionsoft.com/crm/rest"}],"tags":[{"name":"Affiliate","description":"Rest Affiliate Controller"},{"name":"Automation","description":"Rest Automation Controller"},{"name":"AutomationCategory","description":"Rest Automation Category Controller"},{"name":"Business Profile","description":"Rest Business Profile Controller"},{"name":"Campaign","description":"Rest Campaign Controller"},{"name":"Category Discounts","description":"Rest Category Discount Controller"},{"name":"Company","description":"Rest Company Controller"},{"name":"Contact","description":"Rest Contact Controller"},{"name":"Email","description":"Rest Email Controller"},{"name":"Email Address","description":"Rest Api Email Address Controller"},{"name":"Files","description":"Rest File Controller"},{"name":"Free Trial Discounts","description":"Rest Free Trial Discount Controller"},{"name":"Lead Source Categories","description":"Rest Lead Source Category Controller"},{"name":"Lead Source Expenses","description":"Rest Lead Source Expense Controller"},{"name":"Lead Source Recurring Expenses","description":"Rest Lead Source Recurring Expense Controller"},{"name":"Lead Sources","description":"Rest Lead Source Controller"},{"name":"LeadScore","description":"Rest Contact Lead Score Controller"},{"name":"Locale","description":"Rest Locale Controller"},{"name":"Merchants","description":"Rest Merchant Controller"},{"name":"Note","description":"Rest Note Controller"},{"name":"Opportunity","description":"Rest Opportunity Controller"},{"name":"Order Total Discounts","description":"Rest Order Total Discount Controller"},{"name":"Orders","description":"Rest Order Controller"},{"name":"Payment Method Configs","description":"Rest Payment Method Config Controller"},{"name":"Payment Methods","description":"Rest Payment Method Controller"},{"name":"Product Categories","description":"Rest Product Category Controller"},{"name":"Product Discounts","description":"Rest Product Discount Controller"},{"name":"Product Interest Bundles","description":"Rest Product Interest Bundle Controller"},{"name":"Products","description":"Rest Product Controller"},{"name":"Referral","description":"Rest Referral Controller"},{"name":"Reporting","description":"Rest Reporting Controller"},{"name":"Sales","description":"Rest Sales Controller"},{"name":"Settings","description":"Rest Setting Controller"},{"name":"Shipping","description":"Rest Shipping Methods Controller"},{"name":"Shipping Discounts","description":"Rest Shipping Discount Controller"},{"name":"Subscription Plans","description":"Rest Subscription Plan Controller"},{"name":"Subscriptions","description":"Rest Subscriptions Controller"},{"name":"Tags","description":"Rest Tag Controller"},{"name":"Task","description":"Rest Task Controller"},{"name":"Users","description":"Rest User Controller"},{"name":"Webforms","description":"Rest Webform Controller"}],"paths":{"/v2/affiliates":{"get":{"tags":["Affiliate"],"summary":"List Affiliates","description":"Retrieves a list of Affiliates","operationId":"listAffiliateUsingGET","parameters":[{"name":"filter","in":"query","description":"Filter to apply, allowed fields are:\n- (String) `affiliate_name`\n- (String) `contact_id`\n- (String) `status`\n- (String) `code`\n","schema":{"type":"string"}},{"name":"order_by","in":"query","description":"Attribute and direction to order items.\nOne of the following fields:\n- `id`\n- `create_time`\n- `name`\n- `status`\n- `code`\n\nOne of the following directions:\n- `asc`\n- `desc`\n","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Total number of items to return per page","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32"},"example":0},{"name":"page_token","in":"query","description":"Page token","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"ListAffiliatesResponse","type":"object","properties":{"affiliates":{"type":"array","items":{"title":"RestAffiliate","type":"object","properties":{"code":{"type":"string","description":"The Affiliate Code","example":"M123"},"contact_id":{"type":"string","description":"The ContactID","example":"1"},"date_created":{"type":"string"},"id":{"type":"string","description":"The AffiliateId","example":"1"},"name":{"type":"string","description":"The Affiliate Name","example":"Affiliate Name"},"status":{"type":"string","description":"The Affiliate Status","example":"ACTIVE","enum":["ACTIVE","INACTIVE"]},"unique_site_id":{"type":"string","description":"The Affiliate PortalSite Id","example":"123456"}}}},"next_page_token":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false},"post":{"tags":["Affiliate"],"summary":"Create an Affiliate","description":"Creates a single Affiliate","operationId":"addAffiliateUsingPOST","requestBody":{"description":"Affiliate request to insert","content":{"application/json":{"schema":{"title":"CreateAffiliateRequest","required":["code","contact_id","status"],"type":"object","properties":{"code":{"type":"string","description":"The Affiliate code which have some validations.\n1. The code should not have white spaces\n2. The code should starts with letters\n3. The code minimum 4 characters length","example":"M123"},"contact_id":{"type":"string","description":"The contactId identifier , Must be a positive number","example":"1"},"name":{"type":"string","description":"The Affiliate name will be derived from the Contact,\nwhen not explicitly provided","example":"Affiliate Name"},"status":{"type":"string","description":"The Affiliate Status","example":"active","enum":["ACTIVE","INACTIVE"]}}}}},"required":false},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"title":"RestAffiliate","type":"object","properties":{"code":{"type":"string","description":"The Affiliate Code","example":"M123"},"contact_id":{"type":"string","description":"The ContactID","example":"1"},"date_created":{"type":"string"},"id":{"type":"string","description":"The AffiliateId","example":"1"},"name":{"type":"string","description":"The Affiliate Name","example":"Affiliate Name"},"status":{"type":"string","description":"The Affiliate Status","example":"ACTIVE","enum":["ACTIVE","INACTIVE"]},"unique_site_id":{"type":"string","description":"The Affiliate PortalSite Id","example":"123456"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"insertAffiliate"}},"/v2/affiliates/commissionPrograms":{"get":{"tags":["Affiliate"],"summary":"List Affiliate Commission Programs","description":"Retrieves a list of Affiliate Commission Programs","operationId":"listAffiliateCommissionProgramsUsingGET","parameters":[{"name":"filter","in":"query","description":"Filter to apply, allowed fields are:\n- (String) `name`\n- (String) `affiliate_id`\n","schema":{"type":"string"}},{"name":"order_by","in":"query","description":"Attribute and direction to order items.\nOne of the following fields:\n- `name`\n- `date_created`\n\nOne of the following directions:\n- `asc`\n- `desc`","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Total number of items to return per page","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32"},"example":0},{"name":"page_token","in":"query","description":"Page token","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"ListAffiliateCommissionProgramsResponse","type":"object","properties":{"commission_programs":{"type":"array","items":{"title":"AffiliateProgramV2","type":"object","properties":{"affiliate_id":{"type":"string","description":"The affiliate_Id for Affiliate commission program","example":"123"},"create_time":{"type":"string","description":"The created time of affiliate commission program","example":"2019-08-24T14:15:22Z"},"default_commission":{"title":"DefaultCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"percentage":{"type":"number","format":"double"}}},"id":{"type":"string","description":"The affiliate commission program name","example":"1"},"name":{"type":"string","description":"The affiliate commission program name","example":"commission program"},"notes":{"type":"string","description":"The affiliate commission program notes","example":"notes for the commission program"},"priority":{"type":"string","description":"The Affiliate commission program priority","example":"0"},"product_commissions":{"type":"array","items":{"title":"ProductCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"percentage":{"type":"number","format":"double"},"product_id":{"type":"string"},"product_name":{"type":"string"},"product_price":{"type":"number","format":"double"}}}},"subscription_commissions":{"type":"array","items":{"title":"SubscriptionCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"name":{"type":"string"},"percentage":{"type":"number","format":"double"},"plan_price":{"type":"number","format":"double"},"subscription_id":{"type":"string"}}}}}}},"next_page_token":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false},"post":{"tags":["Affiliate"],"summary":"Create an Affiliate Commission Program","description":"Creates an Affiliate Commission Program","operationId":"addCommissionProgramUsingPOST","requestBody":{"description":"Commission Program to insert","content":{"application/json":{"schema":{"title":"CreateCommissionProgramRequest","required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the Commission Program","example":"Fitness program"},"notes":{"type":"string","description":"The notes of the Commission Program","example":"20% default commission"},"priority":{"type":"integer","description":"The priority of the Commission Program","format":"int32","example":100}}}}},"required":false},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"title":"AffiliateCommissionProgramResponse","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"notes":{"type":"string"},"priority":{"type":"integer","format":"int32"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"Insert Commission Program"}},"/v2/affiliates/commissionPrograms/defaultCommissionPrograms/{commission_program_id}":{"post":{"tags":["Affiliate"],"summary":"Create a Default Commission Program","description":"Creates a Default Commission Program","operationId":"createDefaultCommissionProgramUsingPOST","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Values of the Default Commission Program","content":{"application/json":{"schema":{"title":"CreateDefaultCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"}}}}},"required":false},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"title":"SetDefaultCommissionProgramResponse","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"CreateDefaultCommissionProgramRequest"},"patch":{"tags":["Affiliate"],"summary":"Update a Default Commission Program","description":"Updates a Default Commission Program","operationId":"updateDefaultCommissionProgramUsingPATCH","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}},{"name":"update_mask","in":"query","description":"update_mask","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"Values of the default Commission Program","content":{"application/json":{"schema":{"title":"UpdateDefaultCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"SetDefaultCommissionProgramResponse","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"UpdateDefaultCommissionProgramRequest"}},"/v2/affiliates/commissionPrograms/productCommissionPrograms/{commission_program_id}":{"post":{"tags":["Affiliate"],"summary":"Assign a Product Commission Program","description":"Assigns a Product Commission Program to a Product","operationId":"assignProductCommissionProgramUsingPOST","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Product Commission Program","content":{"application/json":{"schema":{"title":"CreateProductCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"},"product_id":{"type":"string"}}}}},"required":false},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"title":"ProductCommissionProgram","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"Product Commission Program"},"patch":{"tags":["Affiliate"],"summary":"Update a Product Commission Program","description":"Updates a Product Commission Program","operationId":"updateProductCommissionProgramUsingPATCH","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}},{"name":"update_mask","in":"query","description":"update_mask","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"Values of the product Commission Program","content":{"application/json":{"schema":{"title":"UpdateProductCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"},"product_id":{"type":"string"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"ProductCommissionProgram","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"UpdateProductCommissionProgramRequest"}},"/v2/affiliates/commissionPrograms/subscriptionCommissionPrograms/{commission_program_id}":{"post":{"tags":["Affiliate"],"summary":"Assign a Subscription Commission Program","description":"Assigns a Subscription Commission Program to a Subscription","operationId":"assignSubscriptionCommissionProgramUsingPOST","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Subscription Commission Program","content":{"application/json":{"schema":{"title":"CreateSubscriptionCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"},"subscription_id":{"type":"string"}}}}},"required":false},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"title":"SubscriptionCommissionProgram","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"Subscription Commission Program"},"patch":{"tags":["Affiliate"],"summary":"Update a Subscription Commission Program","description":"Updates a Subscription Commission Program","operationId":"updateSubscriptionCommissionProgramUsingPATCH","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}},{"name":"update_mask","in":"query","description":"update_mask","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"Values of the subscription Commission Program","content":{"application/json":{"schema":{"title":"UpdateSubscriptionCommissionProgramRequest","type":"object","properties":{"dollar_amount":{"type":"string"},"percentage":{"type":"string"},"subscription_id":{"type":"string"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"SubscriptionCommissionProgram","type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"UpdateSubscriptionCommissionProgramRequest"}},"/v2/affiliates/commissionPrograms/{commission_id}:removeProductCommission":{"post":{"tags":["Affiliate"],"summary":"Remove a Product from a Commission Program","description":"Removes a Product from a Commission Program","operationId":"removeProductCommissionFromCommissionsUsingPOST","parameters":[{"name":"commission_id","in":"path","description":"commission_id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"deleteProgramCommissionRequest","content":{"application/json":{"schema":{"title":"DeleteProgramCommissionRequest","type":"object","properties":{"product_id":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"deleteProgramCommissionRequest"}},"/v2/affiliates/commissionPrograms/{commission_id}:removeSubscriptionCommission":{"post":{"tags":["Affiliate"],"summary":"Remove a Subscription from a Commission Program","description":"Removes a Subscription from a Commission Program","operationId":"removeSubscriptionPlanCommissionFromCommissionsUsingPOST","parameters":[{"name":"commission_id","in":"path","description":"commission_id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"deleteSubscriptionPlanCommissionRequest","content":{"application/json":{"schema":{"title":"DeleteSubscriptionPlanCommissionRequest","type":"object","properties":{"product_id":{"type":"string"},"subscription_plan_id":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}}},"deprecated":false,"x-codegen-request-body-name":"deleteSubscriptionPlanCommissionRequest"}},"/v2/affiliates/commissionPrograms/{commission_program_id}":{"get":{"tags":["Affiliate"],"summary":"Retrieve a Commission Program","description":"Retrieves a single Commission Program","operationId":"getCommissionProgramUsingGET","parameters":[{"name":"commission_program_id","in":"path","description":"commission_program_id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"AffiliateProgramV2","type":"object","properties":{"affiliate_id":{"type":"string","description":"The affiliate_Id for Affiliate commission program","example":"123"},"create_time":{"type":"string","description":"The created time of affiliate commission program","example":"2019-08-24T14:15:22Z"},"default_commission":{"title":"DefaultCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"percentage":{"type":"number","format":"double"}}},"id":{"type":"string","description":"The affiliate commission program name","example":"1"},"name":{"type":"string","description":"The affiliate commission program name","example":"commission program"},"notes":{"type":"string","description":"The affiliate commission program notes","example":"notes for the commission program"},"priority":{"type":"string","description":"The Affiliate commission program priority","example":"0"},"product_commissions":{"type":"array","items":{"title":"ProductCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"percentage":{"type":"number","format":"double"},"product_id":{"type":"string"},"product_name":{"type":"string"},"product_price":{"type":"number","format":"double"}}}},"subscription_commissions":{"type":"array","items":{"title":"SubscriptionCommission","type":"object","properties":{"dollar_amount":{"type":"number","format":"double"},"name":{"type":"string"},"percentage":{"type":"number","format":"double"},"plan_price":{"type":"number","format":"double"},"subscription_id":{"type":"string"}}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"title":"Error","type":"object","properties":{"cause":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"$ref":"#/components/schemas/Throwable"}}}},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"suppressed":{"type":"array","items":{"title":"Throwable","type":"object","properties":{"cause":{"$ref":"#/components/schemas/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"title":"StackTraceElement","type":"object","properties":{"classLoaderName":{"type":"
[...]
